@import url("https://fonts.googleapis.com/css?family=Yantramanav:100");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400");
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

body{
	background: url(../assets/coffeeImages/16.jpg) no-repeat 50% 50%;
  display: table;
	top: 0;
	background-size:100%;
  background-size: cover;
  background-attachment: fixed; 
}

#intro {
  margin: auto;
  display: table;
	top: 0;
	}

/* tina-guina-obV_LM0KjxY-unsplash.jpg */
/*  tyler-nix-7r12qgK11PI-unsplash.jpg*/
#inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none; }

#content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 35%; }

#title {
  font-family: 'Yantramanav', sans-serif;
  font-size: 800%;
	font-weight: 100;
	margin: auto;
	color: #64b5c4;
	position: fixed;
	top: 15%;
  line-height: 36%; }

#see-coffees {
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-weight: 400;
	color: #d9b382;
	margin: auto;
	text-decoration: none;
	position: fixed;
  border: solid #d9b382 2px;
  padding: 10px 20px;
	border-radius: 9px;
	top: 26%;
  transition: all 0.5s; }

#see-coffees:hover {
  color: #3a6168;
  border: solid #3a6168; }

/*--- Media Queries --*/
/* @media screen and (max-width: 900px) {
  #content {
    padding-bottom: 30%; }

  #title {
    font-size: 450%; }

  #see-coffees {
    font-size: 110%;
		padding: 9px 17px; } }
		
@media screen and (max-width: 768px) {
  #content {
    padding-bottom: 40%; }

  #title {
    font-size: 300%; }

  #see-coffees {
    font-size: 110%;
    padding: 9px 17px; } }
@media screen and (max-width: 480px) {
  #content {
    padding-bottom: 50%; }

  #title {
    font-size: 200%; }

  #see-coffees {
    font-size: 110%;
    padding: 6px 14px; }
	}
  
 */
